.navbar-brand{
    color: $grey !important;
    transition-duration: 1s !important;
}

.navbar-brand:hover{
    border-bottom: 2px solid $grey;
}

.navbar {
    transition: all 0.6s ease;
    background-color: $light-pink;
    position: fixed !important;

}

.navbar-toggler-icon{
    background-color: $blue !important;
}

.navbar-toggler{
    background-color: $blue !important;
}

.navbar-scrolled {
    background-color: rgba(255, 208, 208, 0.403); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
}

.nav-item {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
.nav-link {
    color: $grey!important;
    border-radius: 10px;
    height: 43px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
}

.nav-link:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


