body{
    .part-1{
        
    }
    .part-2{
        .profil{
        width: 100px;
        float: left;
    }
    }

    .competences{
        .img-icone{
            width: 60px;
        }
    }

    .projets{
        .img-icone{
            width: 60px;
        }
    }
    

}