@import "../utils/variables";
@import "../base/typography";

body{

    .background-image{
        background-image: url(../../asset/banniere.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        width: 100%;

        .part-1{
        .bloc-titre{
            text-align: center;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
    }
    }

    .background-color{
        background-color: $beige;
        .part-2{
            .align-text{
                
            }
            .profil{
            
            }
            .text-accroche{
                font-size:19px;
                color: $darkgrey;
            }
            .text{
                color: $grey;
            }
        }

        .competences{
            .img-icone{
                width: 60px;
            }
        }

        .projets{
            .img-icone{
                width: 60px;
            }
        }

        .competences{
            .titre-pink{
                border-top: 4px solid $blue;
                
            }
        }

        .projets{
            .titre-pink{
                border-top: 4px solid $blue;
                
            }
        }
    }
}