body{

    .background-image{
        background-image: url(../../asset/banniere.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        width: 100%;

        .part-1{
        .bloc-titre{
            text-align: center;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
    }
    }

    
    .part-2{
        .profil{
        width: 100px;
        float: left;
    }
    }

    .competences{
        .img-icone{
            width: 60px;
        }
    }

    .projets{
        .img-icone{
            width: 60px;
        }
    }
    

}